#create a bedrock user in aws and then create an access key
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# for local server no need to change
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret
LIVEKIT_URL=ws://localhost:7880